<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkcrM_XQF1jmw8A_NGTNF2C5t45AWvIWU</string>
	<key>GCM_SENDER_ID</key>
	<string>650660459407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectapp</string>
	<key>PROJECT_ID</key>
	<string>projectlistdart</string>
	<key>STORAGE_BUCKET</key>
	<string>projectlistdart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650660459407:ios:4c142864a1de32429291fa</string>
	<key>DATABASE_URL</key>
	<string>https://projectlistdart-default-rtdb.firebaseio.com</string>
</dict>
</plist>